/* Style pour le conteneur principal */
body, html {
    height: 100%;
    margin: 0;
  }
  
  .pokemon-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre horizontalement */
    justify-content: center; /* Centre verticalement */
    min-height: 100vh; /* Occupe toute la hauteur de la vue */
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .pokemon-infos-global {
    text-align: center;
  }
  
  .pokemon-title {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .pokemon-info {
    margin: 10px 0;
  }
  
  .pokemon-image {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .pokemon-name {
    font-weight: bold;
  }
  
  .pokemon-height, .pokemon-weight, .pokemon-type {
    font-style: italic;
  }
  
  .pokemon-type-label {
    font-weight: bold;
  }
  
  .pokemon-type-image-container {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center; /* Centre les images de type horizontalement */
  }
  
  .pokemon-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .pokemon-button:hover {
    background-color: #0056b3;
  }
  