.favorites-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.favorites-container.light .pokemon-info {
    color: #000000;
}

.favorites-container.dark .pokemon-info {
    color: #ffffff;
}

.favorite-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 250px;
    background-color: #f9f9f9;
}

.pokemon-image {
    border-radius: 8px;
}

.pokemon-info {
    margin-bottom: 10px;
}

.pokemon-name,
.pokemon-height,
.pokemon-weight,
.pokemon-type {
    margin: 5px 0;
}

.pokemon-type-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-type {
    margin-right: 5px;
}

.favorites-container.light .favorite-item {
    background-color: #f9f9f9;
    color: #000000;
    border: 1px solid #ddd;
}

.favorites-container.dark .favorite-item {
    background-color: #444444;
    color: #ffffff;
    border: 1px solid #555555;
}