body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #282c34;
    color: white;
}

.navbar {
    background-color: #282c34;
    color: white;
    transition: background-color 0.3s;
}

body.dark-mode .navbar {
    background-color: #1f2428;
}




    